<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= customer.firstName %> <%= customer.lastName %></h1>

  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-small btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-small btn-outline-secondary">Export</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active"><%= customer.firstName %> <%= customer.lastName %></li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>Last Updated: <%= new Date(customer.updatedAt).toUTCString() %></b>
      <b>UserID: <%= customer._id %></b>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col" style="max-width: 140px;">
            <b>Name:</b>
          </div>
          <div class="col">
            <b><%= customer.firstName %> <%= customer.lastName %></b>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col" style="max-width: 140px;">
            <b>Telephone:</b>
          </div>
          <div class="col">
            <b><%= customer.tel %></b>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col" style="max-width: 140px;">
            <b>Email:</b>
          </div>
          <div class="col">
            <b><%= customer.email %></b>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col" style="max-width: 140px;">
            <b>Details:</b>
          </div>
          <div class="col">
            <b><%= customer.details %></b>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col" style="max-width: 140px;">
            <b>Date Created:</b>
          </div>
          <div class="col">
            <b><%= customer.createdAt %></b>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col" style="max-width: 140px;">
            <b>Date Modified:</b>
          </div>
          <div class="col">
            <b><%= customer.updatedAt %></b>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>